.gradle
.idea
build
.DS_Store
account-service/build
account-service/.gradle

bill-service/build
bill-service/.gradle

config-service/build
config-service/.gradle

deposit-service/build
deposit-service/.gradle

payment-service/build
payment-service/.gradle

transfer-service/build
transfer-service/.gradle

notification-service/build
notification-service/.gradle

gateway/build
gateway/.gradle

registry/build
registry/.gradle